/**
 * Main stylus file
 * Author: Graffino (http://www.graffino.com)
 */
/**
* Dependencies
*/
/**
* Base
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-feature-settings: "kern";
          font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
}
body {
  overflow-x: hidden;
  min-width: rem(320);
  background-color: #213647;
  color: #fff;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: $font-size-5;
  line-height: $font-size-5;
}
body.has-background-white {
  background-color: #fff;
}
.no-fonts body {
  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
}
html,
body {
  -webkit-overflow-scrolling: touch;
}
.main {
  background-color: $color-content-background;
}
@media only screen and (max-width: 1050px) {
  .h-show-for-large-up {
    display: none !important;
  }
}
@media only screen and (min-width: 1051px) {
  .h-show-for-large-down {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .h-show-for-tablet-up {
    display: none !important;
  }
}
@media only screen and (min-width: 769px) {
  .h-show-for-tablet-down {
    display: none !important;
  }
}
@media only screen and (max-width: 640px) {
  .h-show-for-small-up {
    display: none !important;
  }
}
@media only screen and (min-width: 641px) {
  .h-show-for-small-down {
    display: none !important;
  }
}
@media only screen and (max-width: 320px) {
  .h-show-for-mobile-up {
    display: none !important;
  }
}
@media only screen and (min-width: 321px) {
  .h-show-for-mobile-down {
    display: none !important;
  }
}
@media only screen and (min-width: 1051px) {
  .h-hide-for-large-up {
    display: none !important;
  }
}
@media only screen and (max-width: 1050px) {
  .h-hide-for-large-down {
    display: none !important;
  }
}
@media only screen and (min-width: 769px) {
  .h-hide-for-tablet-up {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .h-hide-for-tablet-down {
    display: none !important;
  }
}
@media only screen and (max-width: 800px) {
  .h-hide-for-eager-tablet-down {
    display: none !important;
  }
}
@media only screen and (min-width: 321px) {
  .h-hide-for-mobile-up {
    display: none !important;
  }
}
@media only screen and (max-width: 320px) {
  .h-hide-for-mobile-down {
    display: none !important;
  }
}
@media only screen and (min-width: 641px) {
  .h-hide-for-small-up {
    display: none !important;
  }
}
@media only screen and (max-width: 640px) {
  .h-hide-for-small-down {
    display: none !important;
  }
}
@media only screen and (max-width: 1050px) {
  .h-center-for-large-down {
    text-align: center !important;
  }
}
@media only screen and (max-width: 768px) {
  .h-center-for-tablet-down {
    text-align: center !important;
  }
}
@media only screen and (max-width: 320px) {
  .h-center-for-mobile-down {
    text-align: center !important;
  }
}
.h-responsive-image {
  display: block;
  width: 100%;
  height: auto;
}
.h-visually-hidden {
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
}
.h-overflow-hidden {
  overflow: hidden;
}
.h-align-left {
  text-align: left !important;
}
@media only screen and (max-width: 1050px) {
  .h-align-left-from-large-down {
    text-align: left !important;
  }
}
@media only screen and (min-width: 1051px) {
  .h-align-left-from-large-up {
    text-align: left !important;
  }
}
@media only screen and (max-width: 768px) {
  .h-align-left-from-tablet-down {
    text-align: left !important;
  }
}
@media only screen and (min-width: 769px) {
  .h-align-left-from-tablet-up {
    text-align: left !important;
  }
}
@media only screen and (max-width: 640px) {
  .h-align-left-from-small-down {
    text-align: left !important;
  }
}
@media only screen and (min-width: 641px) {
  .h-align-left-from-small-up {
    text-align: left !important;
  }
}
.h-align-center {
  text-align: center !important;
}
@media only screen and (max-width: 1050px) {
  .h-align-center-from-large-down {
    text-align: center !important;
  }
}
@media only screen and (min-width: 1051px) {
  .h-align-center-from-large-up {
    text-align: center !important;
  }
}
@media only screen and (max-width: 768px) {
  .h-align-center-from-tablet-down {
    text-align: center !important;
  }
}
@media only screen and (min-width: 769px) {
  .h-align-center-from-tablet-up {
    text-align: center !important;
  }
}
@media only screen and (max-width: 640px) {
  .h-align-center-from-small-down {
    text-align: center !important;
  }
}
@media only screen and (min-width: 641px) {
  .h-align-center-from-small-up {
    text-align: center !important;
  }
}
.h-align-right {
  text-align: right !important;
}
@media only screen and (max-width: 1050px) {
  .h-align-right-from-large-down {
    text-align: right !important;
  }
}
@media only screen and (min-width: 1051px) {
  .h-align-right-from-large-up {
    text-align: right !important;
  }
}
@media only screen and (max-width: 768px) {
  .h-align-right-from-tablet-down {
    text-align: right !important;
  }
}
@media only screen and (min-width: 769px) {
  .h-align-right-from-tablet-up {
    text-align: right !important;
  }
}
@media only screen and (max-width: 640px) {
  .h-align-right-from-small-down {
    text-align: right !important;
  }
}
@media only screen and (min-width: 641px) {
  .h-align-right-from-small-up {
    text-align: right !important;
  }
}
.h-float-none {
  float: none !important;
}
@media only screen and (max-width: 1050px) {
  .h-float-none-from-large-down {
    float: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .h-float-none-from-tablet-down {
    float: none !important;
  }
}
@media only screen and (max-width: 640px) {
  .h-float-none-from-small-down {
    float: none !important;
  }
}
.h-float-left {
  float: left !important;
}
@media only screen and (max-width: 1050px) {
  .h-float-left-from-large-down {
    float: left !important;
  }
}
@media only screen and (max-width: 768px) {
  .h-float-left-from-tablet-down {
    float: left !important;
  }
}
@media only screen and (max-width: 640px) {
  .h-float-left-from-small-down {
    float: left !important;
  }
}
.h-float-right {
  float: right !important;
}
@media only screen and (max-width: 1050px) {
  .h-float-right-from-large-down {
    float: right !important;
  }
}
@media only screen and (max-width: 768px) {
  .h-float-right-from-tablet-down {
    float: right !important;
  }
}
@media only screen and (max-width: 640px) {
  .h-float-right-from-small-down {
    float: right !important;
  }
}
.h-clear-both {
  clear: both;
}
.h-case-normal {
  text-transform: none !important;
}
.h-case-uppercase {
  text-transform: uppercase !important;
}
.h-color-inherit {
  color: inherit !important;
}
.h-center {
  float: none !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.h-no-padding {
  padding: 0 !important;
}
.h-no-padding-top {
  padding-top: 0 !important;
}
.h-no-padding-bottom {
  padding-bottom: 0 !important;
}
.h-no-padding-right {
  padding-right: 0 !important;
}
.h-no-padding-left {
  padding-left: 0 !important;
}
.h-no-margin {
  margin: 0 !important;
}
.h-no-margin-top {
  margin-top: 0 !important;
}
.h-no-margin-bottom {
  margin-bottom: 0 !important;
}
.h-no-margin-right {
  margin-right: 0 !important;
}
.h-no-margin-left {
  margin-left: 0 !important;
}
.h-display-table {
  display: table;
}
.h-display-inline-block {
  display: inline-block;
}
.h-display-block {
  display: block;
}
.h-vertical-align {
  display: table-cell !important;
  vertical-align: middle;
}
.h-vertical-align-middle {
  vertical-align: middle !important;
}
.h-full-height {
  min-height: 100%;
}
.h-no-pointer-events {
  pointer-events: none;
}
.h-word-break-all {
  word-break: break-all;
}
.h-nowrap {
  white-space: nowrap;
}
.h-position-static {
  position: static !important;
}
.h-position-relative {
  position: relative !important;
}
.h-position-absolute {
  position: absolute !important;
}
.h-z-index-0 {
  z-index: 0 !important;
}
.h-z-index-10 {
  z-index: 10 !important;
}
.h-z-index-20 {
  z-index: 20 !important;
}
.h-z-index-30 {
  z-index: 30 !important;
}
.h-z-index-40 {
  z-index: 40 !important;
}
.h-z-index-50 {
  z-index: 50 !important;
}
.h-z-index-60 {
  z-index: 60 !important;
}
.h-z-index-70 {
  z-index: 70 !important;
}
.h-z-index-80 {
  z-index: 80 !important;
}
.h-z-index-90 {
  z-index: 90 !important;
}
.h-z-index-100 {
  z-index: 100 !important;
}
.h-z-index-max {
  z-index: 9999 !important;
}
.h-z-index-negative {
  z-index: -1 !important;
}
/**
* Modules
*/
.icon.-size-small {
  width: 1.875rem;
  height: 1.875rem;
}
.icon.-size-medium {
  width: 3.125rem;
  height: 3.125rem;
}
.icon.-color-white {
  color: #fff;
}
.hero__container {
  max-width: 62.5rem;
  margin: 0 auto;
}
.hero__links {
  text-align: right;
}
.hero__title {
  margin: 0 auto;
  color: #fff;
  font-size: 6.75rem;
  text-transform: uppercase;
  text-align: center;
}
.hero__subtitle {
  color: #1da1f2;
  text-transform: uppercase;
  text-decoration: none;
  text-transform: uppercase;
}
.hero__subtitle .icon {
  vertical-align: middle;
}
.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
}
.sidebar .nav ul {
  list-style-type: none;
}
.sidebar .nav ul li {
  margin: 0.625rem 0;
}
.feed__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post {
  min-width: 50rem;
  height: auto;
  margin: 2.5rem auto;
  border-radius: 0.625rem;
  font-family: "Inconsolata", "Courier", monospace;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.75rem, #eef1f5), color-stop(3.75rem, #1f3444));
  background: linear-gradient(#eef1f5 3.75rem, #1f3444 3.75rem);
  -webkit-box-shadow: 0 0 2.5rem -0.9375rem #000;
          box-shadow: 0 0 2.5rem -0.9375rem #000;
}
@media only screen and (max-width: 768px) {
  .post {
    background: none;
  }
}
.post__container {
  padding: 0 1.25rem;
}
.post__title {
  color: #1d2230;
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
}
.post__content {
  margin: 3.125rem;
  font-size: 1rem;
  font-weight: 400;
}
.post__info {
  text-align: right;
}
