/**
 * Main stylus file
 * Author: Graffino (http://www.graffino.com)
 */

 /**
  * Base
  */

  // Color variables
  @import "common/colors"
  // Defaults
  @import "common/defaults"
  // Fonts and sizes variables
  @import "common/fonts"
  // Helpers
  @import "common/helpers"
  // Mixins
  @import "common/mixins"

 /**
  * Vendor styling
  */

// Generated SVG icon sprite
// @import "vendor/sprite"


 /**
  * Modules
  */

 // Typography — body copy, headings, lists, blockquotes, etc
  @import "modules/typography"
  // Icons — styles and sizes
  @import "modules/icon"
  // Button — styles and sizes
  @import "modules/button"
  // Hero - styles
  @import "modules/hero"
  // Sidebar - styles
  @import "modules/sidebar"
