/**
 * Main stylus file
 * Author: Graffino (http://www.graffino.com)
 */

/**
 * Dependencies
 */

  // Jeet
  @import "../../../node_modules/jeet/styl/index"
  // Rupture
  @import "../../../node_modules/rupture/rupture/index"

/**
 * Base
 */

  // Breakpoints
  @import "common/breakpoints"
  // Color variables
  @import "common/colors"
  // Fonts and sizes variables
  @import "common/fonts"
  // Mixins
  @import "common/mixins"
  // Helpers
  @import "common/helpers"
  // Grid
  @import "common/grid"
  // Defaults
  @import "common/defaults"

/**
 * Modules
 */

  // Typography — body copy, headings, lists, blockquotes, etc
  @import "modules/typography"
  // Icons — styles and sizes
  @import "modules/icon"
  // Button — styles and sizes
  @import "modules/button"
  // Form - styles
  @import "modules/form"
  // User Controls - styles
  @import "modules/user"
  // Hero - styles
  @import "modules/hero"
  // Sidebar - styles
  @import "modules/sidebar"
  // Feed - styles
  @import "modules/feed"
  // Post - styles
  @import "modules/post"
  // Activity Chart
  @import "modules/activity-chart"
  // Alert
  @import "modules/alert"
  // Popup
  @import "modules/popup"

  // highlightjs
  @import "vendor/atom-one-dark"
