/**
 * Defaults
 * Author: Graffino (http://www.graffino.com)
 */

// Variables
focus-outline = @block
  outline: 0
  box-shadow: 0 0 0 rem(3) rgba(black, 0.3)

/**
 * Globals
 */

 // Custom focus state for DOM elements
:focus
 focus-outline // @stylint ignore


*
  // Border-box
  box-sizing: border-box


// HTML
html
  position: relative

  // Font rendering
  text-rendering: optimizeLegibility
  font-variant-ligatures: common-ligatures
  font-kerning: normal
  font-feature-settings: "kern"
  -webkit-font-smoothing: antialiased


// Body
body
  // Defaults
  overflow-x: hidden
  min-width: rem(320)
  margin: 0
  background-color: $color-background
  color: $default-color
  font-family: $default-fontface-stack
  font-size: $default-font-size
  line-height: $default-line-height

  &.has-background-white
    background-color: white


  // Default font-family until webfonts are loaded
  .no-fonts &
    font-family: $default-system-stack



html,
body
  // Enable scroll momentum on iPhone Safari (webkit)
  -webkit-overflow-scrolling: touch


.main
  clearfix()
  position relative
  margin-top 17vw
  padding-bottom rem(70)

  +below($small)
    margin-top rem(220)


.link
  display inline-block
  color white
  text-decoration: none
  transition opacity 250ms ease-in-out

  &.-color
    &-github
      color #767676
    &-facebook
      color #3b5998
    &-twitter
      color #00aced


  &:hover
    opacity: 0.5

.list
  padding-left 0

  &.-type
    &-simple
      margin-top 0
      margin-bottom 0
      padding-left 0
      list-style-type none

    &-inline
      & ^[0]__item
        display inline-block
        margin-right rem(10)
        margin-left rem(10)

    &-tile
      & ^[0]__item
        clearfix()
        margin-top rem(5)
        margin-bottom rem(5)
        background-color rgba($color-palette-5, 0.97);

        & > a
          display: block
          padding rem(10)
          color white
          

.tile {
  padding rem(20)
  background-color rgba($color-palette-5, 0.97)
}
