/**
 * Fonts and sizes
 * Author: Graffino (http://www.graffino.com)
 */

/*
  // Font weights
  Thin = 100
  ExtraLight = 200
  Light = 300
  Regular = 400
  Medium = 500
  SemiBold = 600
  Bold = 700
  ExtraBold = 800
  Black = 900
*/


/**
 * Monserrat
 */

// Ultra light - 100
webfont("Montserrat", "Montserrat-Thin", 100, normal, "U+0000-007F") // @stylint ignore
webfont("Montserrat", "Montserrat-ThinItalic", 100, italic, "U+0000-007F") // @stylint ignore

// ExtraLight - 200
webfont("Montserrat", "Montserrat-ExtraLight", 200, normal, "U+0000-007F") // @stylint ignore
webfont("Montserrat", "Montserrat-ExtraLightItalic", 200, italic, "U+0000-007F") // @stylint ignore

// Light - 300
webfont("Montserrat", "Montserrat-Light", 300, normal, "U+0000-007F") // @stylint ignore
webfont("Montserrat", "Montserrat-LightItalic", 300, italic, "U+0000-007F") // @stylint ignore

// Regular - 400
webfont("Montserrat", "Montserrat-Regular", 400, normal, "U+0000-007F") // @stylint ignore
webfont("Montserrat", "Montserrat-Italic", 400, italic, "U+0000-007F") // @stylint ignore

// Medium - 500
webfont("Montserrat", "Montserrat-Medium", 500, normal, "U+0000-007F") // @stylint ignore
webfont("Montserrat", "Montserrat-MediumItalic", 500, italic, "U+0000-007F") // @stylint ignore

// SemiBold - 600
webfont("Montserrat", "Montserrat-SemiBold", 600, normal, "U+0000-007F") // @stylint ignore
webfont("Montserrat", "Montserrat-SemiBoldItalic", 600, italic, "U+0000-007F") // @stylint ignore

// Bold - 700
webfont("Montserrat", "Montserrat-Bold", 700, normal, "U+0000-007F") // @stylint ignore
webfont("Montserrat", "Montserrat-BoldItalic", 700, italic, "U+0000-007F") // @stylint ignore

// ExtraBold - 800
webfont("Montserrat", "Montserrat-ExtraBold", 800, normal, "U+0000-007F") // @stylint ignore
webfont("Montserrat", "Montserrat-ExtraBoldItalic", 800, italic, "U+0000-007F") // @stylint ignore

// Black - 900
webfont("Montserrat", "Montserrat-Heavy", 900, normal, "U+0000-007F") // @stylint ignore
webfont("Montserrat", "Montserrat-HeavyItalic", 900, italic, "U+0000-007F") // @stylint ignore

/**
 * Inconsolata
 */

// Regular - 400
webfont("Inconsolata", "Inconsolata-Regular", 400, normal, "U+0000-007F") // @stylint ignore

// Bold - 700
webfont("Inconsolata", "Inconsolata-Bold", 700, normal, "U+0000-007F") // @stylint ignore

/**
 * Fontfaces
 */

$sans-fontface               = "Montserrat"
$mono-fontface              = "Inconsolata"

// Font-families stack
$sans-fontface-stack         = $sans-fontface, Helvetica, Arial, sans-serif
$mono-fontface-stack        = $mono-fontface, "Courier", monospace

// System fontface stacks used when webfonts are not loaded
$system-sans-fontface-stack  = "Helvetica", "Helvetica Neue", "Arial", sans-serif
$system-mono-fontface-stack = "Courier", monospace


/**
 * Font sizes
 */

$font-size-1                 = rem(108)
$line-height-1               = 1

$font-size-2                 = rem(26)
$line-height-2               = 1

$font-size-3                 = rem(16)
$line-height-3               = 1

$font-size-4                 = rem(13)
$line-height-4               = 1


/**
 * H1-H6 headings
 */

// H1
$heading-1-font-family       = $sans-fontface-stack
$heading-1-font-weight       = 200
$heading-1-font-size         = $font-size-1
$heading-1-line-height       = $line-height-1
$heading-1-letter-spacing    = rem(-5)
$heading-1-default-stack     = $system-sans-fontface-stack

// H2
$heading-2-font-family       = $sans-fontface-stack
$heading-2-font-weight       = 900
$heading-2-font-size         = $font-size-2
$heading-2-line-height       = $line-height-2
$heading-2-letter-spacing    = rem(-3)
$heading-2-default-stack     = $system-sans-fontface-stack

// H3
$heading-3-font-family       = $sans-fontface-stack
$heading-3-font-weight       = 900
$heading-3-font-size         = $font-size-3
$heading-3-line-height       = $line-height-3
$heading-3-letter-spacing    = rem(-3)
$heading-3-default-stack     = $system-sans-fontface-stack

// H4
$heading-4-font-family       = $sans-fontface-stack
$heading-4-font-weight       = 900
$heading-4-font-size         = $font-size-4
$heading-4-line-height       = $line-height-4
$heading-4-letter-spacing    = rem(-2)
$heading-4-default-stack     = $system-sans-fontface-stack

// H5
$heading-5-font-family       = $sans-fontface-stack
$heading-5-font-weight       = 100
$heading-5-font-size         = $font-size-5
$heading-5-line-height       = $line-height-5
$heading-5-letter-spacing    = rem(-1)
$heading-5-default-stack     = $system-sans-fontface-stack

// H6
$heading-6-font-family       = $sans-fontface-stack
$heading-6-font-weight       = 100
$heading-6-font-size         = $font-size-6
$heading-6-line-height       = $line-height-6
$heading-6-letter-spacing    = normal
$heading-6-default-stack     = $system-sans-fontface-stack


/**
 * Defaults
 */

$default-font-size           = $font-size-5
$default-line-height         = $line-height-5
$default-fontface-stack      = $sans-fontface-stack
$default-system-stack        = $system-sans-fontface-stack
