.button
  vertical-align middle
  border 0
  border-radius rem(4)
  padding rem(8) rem(30)
  background-color $color-palette-4
  color white
  font-size rem(20)
  text-transform uppercase
  transition background-color 250ms ease-in-out
  cursor pointer

  &.-color-white
    background-color white
    color $color-palette-4

    &:hover
      background-color rgba(white, 0.7)
