.form
  &__field
    text-align left

  &__input
    width 100%
    height rem(40)
    border 0
    border-radius rem(4)
    padding 0 rem(10)
    font-size rem(20)
    line-height rem(40)

  &__input,
  &__textarea,
  &__select
    margin-top rem(10)
    margin-bottom rem(20)
    vertical-align middle

    &:active,
    &:focus
      border rem(3) solid $color-palette-13

  &__textarea
    width 100%
    border-radius rem(4)
    padding rem(10)
    font-size rem(18)

  &__select
    width 100px
    height 40px
    border 0
    border-radius rem(4)
    padding-left rem(10)
    font-size rem(20)
    text-align center

  &__label
    display block
    margin-bottom rem(4)
    font-family $mono-fontface-stack
    font-size rem(14)
    text-align left
    text-transform uppercase
