.hero
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;

  &__title
    margin: 0;
    color: white
    font-size: $font-size-1
    text-transform: uppercase
    text-align: center

  &__subtitle
    color: $color-palette-3
    text-transform: uppercase
    text-decoration: none

    & .icon
      vertical-align: middle
