.hero
  &__links
    text-align: right

  &__title
    margin: 0 auto
    font-weight: 200
    color: white
    font-size: $font-size-1
    text-transform: uppercase
    text-align: center
    white-space: nowrap

  &__subtitle
    color: $color-palette-3
    text-transform: uppercase
    text-decoration: none
    text-transform: uppercase

    & .icon
      vertical-align: middle
