.hero

  &__container
    max-width: rem(1000)
    margin: 0 auto

  &__links
    text-align: right

  &__title
    margin: 0 auto;
    color: white
    font-size: $font-size-1
    text-transform: uppercase
    text-align: center

  &__subtitle
    color: $color-palette-3
    text-transform: uppercase
    text-decoration: none
    text-transform: uppercase

    & .icon
      vertical-align: middle
