.icon
  &.-size
    &-xsmall
      width: rem(18)
      height: rem(18)

    &-small
      width: rem(30)
      height: rem(30)

    &-medium
      width: rem(50)
      height: rem(50)

  &.-color
    &-white
      color: white
