.popup
  opacity 0
  visibility hidden
  position absolute
  bottom 0
  left rem(60)
  width rem(400)
  border-radius rem(4)
  padding rem(30)
  background-color white
  color black
  font-family $mono-fontface
  font-size $font-size-3
  line-height $line-height-3
  box-shadow 0 0 rem(40) rem(-15) black

  &.is-active
    opacity 0
    visibility visible
