$post-background-color = $color-palette-14
$post-header-color = $color-palette-5

.post
  min-width: rem(800)
  height: auto
  margin: rem(40) auto
  border-radius: rem(12)
  background: linear-gradient($post-header-color rem(60), $post-background-color rem(60))
  font-family: $mono-fontface-stack
  box-shadow: 0 0 rem(40) rem(-15) black

  +below($eager-tablet)
    min-width: 90%

  &__wrapper
    margin-bottom: rem(30)
    padding: 0 rem(20)

  &__title
    color: $color-palette-1
    font-size: $font-size-2
    font-weight: 700
    text-align: center

  &__content
    margin: rem(50)
    font-size: $font-size-3
    font-weight: 400

  &__info
    text-align: right

  &__author,
  &__timestamp
    display: block
    margin: rem(4) 0
  
  ul
    list-style-type: none

    li
      column(1/4)
      display: inline-block
      border-top: rem(2) solid $color-palette-5
      padding-top: rem(2)
      font-size: $font-size-2
      text-align: center
      text-transform: uppercase

      +below($eager-tablet)
        span(1/2)
        border: 0
        text-align: center

      & > a
        vertical-align: middle

  &__tag
    color: $color-palette-13

  &__permalink
    color: $color-palette-8

  &__raw
    color: $color-palette-11
  
  &__like
    color: $color-palette-6