$post-background-color = $color-palette-4
$post-header-color = $color-palette-5

.post
  min-width: rem(800)
  max-width: rem(1000)
  height: auto
  margin: rem(40) auto
  border-radius: rem(10)
  font-family: $mono-fontface-stack
  background: linear-gradient($post-header-color rem(60), $post-background-color rem(60))
  box-shadow: 0 0 rem(40) rem(-15) black

  &__wrapper
    padding: 0 rem(20)

  &__title
    color: $color-palette-1
    font-size: $font-size-2
    font-weight: 700
    text-align: center

  &__content
    margin: rem(50)
    font-size: $font-size-3
    font-weight: 400

  &__info 
    text-align: right