.sidebar
  position: fixed
  bottom: 0
  left: 0

  +below($medium)
    width 100%
    background-color rgba(white, 0.1)

  .nav
    &__list
      display: flex
      flex-flow column nowrap
      justify-content space-around
      padding: rem(10)
      list-style-type: none

      +below($medium)
        flex-direction row
        margin 0
        padding 0

      &-item
        position relative
        margin: rem(10) 0

      &-link
        display inline-block
        width rem(40)
        height rem(40)

        +below($medium)
          width rem(24)
          height rem(24)

        & > .icon
          width: 100%;
          height: 100%;
          vertical-align: middle

    &__search
      position absolute
      top rem(-10)
      left rem(60)
      min-width: rem(300)
      margin: rem(10) auto

      &-input
        height: rem(40)
        padding: 0 rem(10)

      &-button
        height: rem(40)
        display none;

        +below($medium)
          display block
