.user
    &__controls
        margin: 0
        padding: rem(6) 0
        font-family: $mono-fontface-stack
        background-color: $color-palette-1

        .controls__list
            margin: 0
            list-style-type: none

            .list__item
                display: inline-block
                margin: 0 rem(4)
                text-transform: uppercase

                a
                    text-decoration: none
                    
                    &:visited
                        color: white