.user
  &__controls
    min-height: rem(30)
    margin: 0
    padding: rem(6)
    background-color: $color-palette-1
    font-family: $mono-fontface-stack

.controls__list
  margin: 0
  padding: 0
  list-style-type: none
  white-space: nowrap

  .list__item
    display: inline-block
    margin: 0 rem(4)
    text-transform: uppercase

    +below($eager-tablet)
      margin: 0 rem(2)

    a
      text-decoration: none

      &:visited
        color: white